body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../static/images/website-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
