@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('../static/images/website-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lexend Tera', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding-left: 1rem;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 2rem;
}
